.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
}

.content {
    margin: 1rem auto;
    border: 1px solid #ccc;
    background: #fff;
    height: auto;
    overflow-y: scroll;
    -webkit-overflow-scrolling:touch;
    border-radius: 4px;
    outline: none;
    padding: 3rem 1rem .5rem 1rem;
}


.search_section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 0 0 .5rem;
    border: 2px solid #f1f1f1;
    color: var(--my-text-color);
    background-color:var(--my-page-bg-color);
    border-radius: 3px;
}
.search_section i {
    cursor: pointer;
    font-size: 1.25rem;
    color: var(--my-primary-2-color);
}
.search_section input {
    background-color: inherit;
    color: inherit;
    outline: none;
    border: 0;
}
.search_section input:focus {
    border: 0;
}
.search_section:focus-within {
    border: 2px solid var(--my-primary-color);
}