.add_user_container {
    width: 100%;
    margin: 1rem auto;
    color: var(--my-text-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: .5rem;
    height: 800px;
}
.tabs_container {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin: 0;
    padding: 0;
}
.tab{
    color: #fff;
    cursor: pointer;
    padding: .75rem .75rem;
    margin: .35rem 0 .3rem .4rem;
    background-color: var(--my-primary-2-color);
    border-radius: 5px;
}
.tab:hover {
    /* background-color: var(--my-primary-2-color); */
    background-color: #D8F3FF;
    color: var(--my-text-color);
}
.selected_tab {
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding: .9rem .5rem;
    margin: .35rem 0 0 .4rem;
    /* background-color: var(--my-primary-2-color); */
    background-color: #D8F3FF;
    z-index: 1;
    opacity: 1;
}
.content_container{
    margin: 0;
    padding: 1rem .5rem 2rem .5rem;
    /* background-color: var(--my-primary-2-color); */
    background-color: #D8F3FF;
    width: 100%;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
}
.content {
    margin: 1rem auto;
    border: 1px solid #ccc;
    background: #fff;
    overflow-y: auto;
    height: auto;
    -webkit-overflow-scrolling:touch;
    border-radius: 4px;
    outline: none;
    padding: 1rem;
}