.field_0 {
    font-family: Impact;
    text-transform: uppercase;
    fill: var(--my-text-color);
}

.field_1 {
    font-family: Impact;
    text-transform: uppercase;
    fill: var(--my-text-color);
}
[node-id] rect {
    fill: var(--my-bg-color);
}
[link-id] path {
    stroke: var(--my-primary-color);
}
[node-id] line {
    stroke: var(--my-danger-color);
}
[control-expcoll-id] circle {
    fill: var(--my-page-bg-color);
}
[control-node-menu-id] rect {
    fill: var(--my-text-color);
}