.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
}
.content {
    margin: 1rem auto;
    border: 1px solid #ccc;
    background: #fff;
    height: 95vh;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
    border-radius: 4px;
    outline: none;
    padding: 1rem;
}
.content_del {
    margin: 1rem auto;
    border: 1px solid #ccc;
    background: #fff;
    height: auto;
    overflow: auto;
    -webkit-overflow-scrolling:touch;
    border-radius: 4px;
    outline: none;
    padding: 1rem;
}
.delete_icon {
    cursor: pointer;
    color: var(--my-danger-color);
    font-size: 2rem;
}
.edit_icon {
    cursor: pointer;
    color: var(--my-secondary-color);
    font-size: 2rem;
}